<html>
  <head>
    <meta charset="utf-8">
    <link href="./public/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="readme-badge">
      <h2><%= username %>'s Replit Stats</h2>

      <div class="flex-column">
        <div>
          <p>Total Cycles earned:<br></br>Total Posts:<br></br>Total Repls:</p>
        </div>
        <div>
          <%= theStats %>
        </div>
      </div>

      <div class="grade">
        <%= grade %>
      </div>
    </div>
  </body>
</html>